<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

<main>
    <h1>Username : <%= username %></h1>

    <br>
    <form class="product-form" action="/friend" method="POST">
        <div class="form-control">
            <label for="Search User">Username</label>
        </div>
        <input list="users" name="search_username">
        <datalist id="users">
            <% for(var i=0; i<users_list.length; i++) {%>
                <option value= <%= users_list[i]._fields[0].properties.username %>  text="helloooo">
                    <%= users_list[i]._fields[0].properties.name %>
                </option>
            <% } %>
        </datalist>
        <input type="hidden" value="Username" name="action">
     
        <button class="btn" type="submit">Search</button>
    </form>

    <br><br>

    <% if(error=='1'){ %><h3>Username is invalid. Try Again!</h3> <% };%>

    <% if(is_following){ %>
        Username : <%= friend_data._fields[0].properties.username %><br>
        Name : <%= friend_data._fields[0].properties.name %><br>
        Age : <%= friend_data._fields[0].properties.age %><br>
        Gender : <%= friend_data._fields[0].properties.gender %><br>

    <% };%>

    <% if(is_following=='false'){ %>
        <form class="product-form" action="/follow" method="POST">
            <input type="hidden" value="follow" name="f_action">
            <button class="btn" type="submit">Follow</button>
        </form>
    <% };%>
    <% if(is_following=='true'){ %>
        <form class="product-form" action="/follow  " method="POST">
            <input type="hidden" value="unfollow" name="f_action">
            <button class="btn" type="submit">Unfollow</button>
        </form>
    <% };%>


    <h2>Following</h2>
    <div class="grid">
    <% for(var i=0; i<following_list.length; i++) {%>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    <%= following_list[i]._fields[0].properties.username %><br>
                </h1>
            </header>
            <div class="card__actions">
                <b>Name : </b><%= following_list[i]._fields[0].properties.name %><br>
            </div>
        </article>
    <% } %>
    </div>

    <h2>Followers</h2>
    <div class="grid">
    <% for(var i=0; i<followers_list.length; i++) {%>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    <%= followers_list[i]._fields[0].properties.username %><br>
                </h1>
            </header>
            <div class="card__actions">
                <b>Name : </b><%= followers_list[i]._fields[0].properties.name %><br>
            </div>
        </article>
    <% } %>
    </div>

    <h2>Liked Movies:</h2>
    <div class="grid">
        <% for(var i=0; i<liked_movies.length; i++) {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%= liked_movies[i]._fields[0].properties.title %><br>
                    </h1>
                </header>
                <div class="card__actions">
                    <b>MovieId : </b><%= liked_movies[i]._fields[0].properties.movieid %><br>
                    <b>Year : </b><%= liked_movies[i]._fields[0].properties.year %><br>
                    <b>Description : </b><%= liked_movies[i]._fields[0].properties.description %><br>
                    <b>Country : </b><%= liked_movies[i]._fields[0].properties.country %><br>
                    <br><br>
                </div>
            </article>
        <% } %>
    </div>


    <h2>Disiked Movies:</h2>
    <div class="grid">
        <% for(var i=0; i<disliked_movies.length; i++) {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%= disliked_movies[i]._fields[0].properties.title %><br>
                    </h1>
                </header>
                <div class="card__actions">
                    <b>MovieId : </b><%= disliked_movies[i]._fields[0].properties.movieid %><br>
                    <b>Year : </b><%= disliked_movies[i]._fields[0].properties.year %><br>
                    <b>Description : </b><%= disliked_movies[i]._fields[0].properties.description %><br>
                    <b>Country : </b><%= disliked_movies[i]._fields[0].properties.country %><br>
                    <br><br>
                </div>
            </article>
        <% } %>
    </div>






    </form>




</main>
