<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>

<body>
    <%- include('includes/navigation.ejs') %>
<br><br>
<main>
    <h3>Username : <%= username %></h3>
    <br><br>

    <h3>Recommendations:</h3>

    <input type="hidden" name="username" value = <%= username %> >
    <br>
    <form action="/recs" method="POST">
        <div class="grid">
            
            <% for(var i=0; i < rec_size; i++) {%>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            <%= all_recs[start_id + i]._fields[0].properties.title %><br>
                        </h1>
                    </header>
                    <div class="card__actions">
                        <b>MovieId : </b><%= all_recs[start_id + i]._fields[0].properties.movieid %><br>
                        <b>Year : </b><%= all_recs[start_id + i]._fields[0].properties.year %><br>
                        <b>Description : </b><%= all_recs[start_id + i]._fields[0].properties.description %><br>
                        <b>Country : </b><%= all_recs[start_id + i]._fields[0].properties.country %><br>
                        <br><br><br>
                        <input type="radio" id="like" name= <%= all_recs[start_id + i]._fields[0].properties.movieid %> value='1'>
                        <label for="like">Like</label><br>
                        <input type="radio" id="dislike" name= <%= all_recs[start_id + i]._fields[0].properties.movieid %> value='-1'>
                        <label for="dislike">Dislike</label><br>
                    </div>
                    
                </article>
            <% } %>
            
        </div>
        <center>
            <% if(start_id < 30){ %>
                <% start_id %><br>
                <button class="btn" type="submit" formaction="/get_recs">Get More</button>
            <% }; %>
            <button class="btn" type="submit" formaction="/recs_submit">Submit</button>
        </center>
    </form>

<br><br><br>

</main>